<!DOCTYPE html>
<html>
<head>
    <title>Stopwatch App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Stopwatch App</h1>
    <div class="stopwatch-container">
        <h2 class="stopwatch" id="timer">0.00</h2>
        <button class="button start" id="start-stop-btn">Start</button>
    </div>
    <div>
        <button class="button lap" id="lap-btn">Lap</button>
        <button class="button reset" id="reset-btn">Reset</button>
    </div>
    <div class="lap-times">
        <h3>Lap Times:</h3>
        <ul id="lap-list"></ul>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
